In [1]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\39349\\.virtualenvs\\mm\\Scripts'

In [2]:
import startup
from helpers.databaseHelper import DatabaseHelper
from helpers.customTranslator import ItalianToEnglishTranslator
import matplotlib.pyplot as plt
dataBasePath = "D:/PHD/Projects/data"

dbHelper = DatabaseHelper()
respCol = dbHelper.extractColumnsForTranslation(f"{dataBasePath}/report.xlsx", "Questionario_2781022573", "Risposte_2781022573")

translator = ItalianToEnglishTranslator()
translatedColumnNames = translator.translateList(responseColumnsValues)
translatedColumnsDataframe = pd.DataFrame(translatedColumnNames)
translatedColumnsDataframe.to_csv(f"{dataBasePath}/surveyColumnsInEnglish.csv")

In [4]:
import pandas as pd

columnsInEnglish = pd.read_csv(f"{dataBasePath}/surveyColumnsInEnglish.csv", index_col="Unnamed: 0").iloc[:, 0]
data = pd.read_excel(f"{dataBasePath}/report.xlsx", engine="openpyxl", sheet_name="Risposte_2781022573", skiprows=12)
data.drop(columns=["Unnamed: 0", "1,1", "3,1"], axis = 1, inplace=True)

In [5]:
data.head()

,"2,1","2,2","2,3","2,4","2,5","3,2","3,3","3,4","3,5","3,6",...,"10,4","10,5","10,6","10,7","10,8","11,1","11,2","11,3",Lat,Lon
0,maschio,fra 31 e 40 anni,"Via Privata Taverna, 28, 20134 Milano MI, Italia",1,no,impiegato/operaio/collaboratore occasionale/st...,sì,sì,professionista/partita iva,regime misto (telelavoro/smart working e quals...,...,sì,sì,bici/monopattino,no,sì,non posseggo un’automobile,"sì, ma solo per alcuni giorni a settimana/al mese",NaN,45.468849,9.256105
1,maschio,più di 60 anni,"Salita Inferiore di Sant'Anna, 17, 16125 Genov...",2,no,impiegato/operaio/collaboratore occasionale/st...,sì,sì,consulente,orario libero,...,no,sì,piedi,no,no,"sì, utilizzerei il trasporto pubblico al posto...","sì, per tutto il mio orario lavorativo",NaN,44.41235,8.935417
2,maschio,fra 51 e 60 anni,"Via Ajaccio, 6, 20133 Milano MI, Italia",3,no,impiegato/operaio/collaboratore occasionale/st...,sì,sì,assunto a tempo indeterminato,full time 5 giorni a settimana,...,sì,sì,piedi,sì,sì,"no, mi sento sicuro solo con il mezzo privato","sì, ma solo per alcuni giorni a settimana/al mese",NaN,45.469897,9.235276
3,femmina,fra 41 e 50 anni,"Corso di Porta Vittoria, 32, 20122 Milano MI, ...",4,no,impiegato/operaio/collaboratore occasionale/st...,sì,sì,assunto a tempo indeterminato,part time orizzontale,...,sì,sì,trasporto pubblico locale,no,sì,"sì, utilizzerei il trasporto pubblico al posto...","sì, ma solo per alcuni giorni a settimana/al mese",NaN,45.461996,9.203025
4,femmina,fra 31 e 40 anni,"Viale Sabotino, 14, 20135 Milano MI, Italia",1,no,impiegato/operaio/collaboratore occasionale/st...,sì,sì,assunto a tempo indeterminato,full time 5 giorni a settimana,...,sì,sì,bici/monopattino,sì,sì,non posseggo un’automobile,"sì, ma solo per alcuni giorni a settimana/al mese",NaN,45.45077,9.199955

In [ ]:
rawColumns = data.columns.to_list()
a = columnsInEnglish[17]
a.count(".")

In [ ]:
rawColumns = data.columns.to_list()

for index in range(len(columnsInEnglish)):
    print(columnsInEnglish[index])
    
    try:
        if (rawColumns[index].replace(",", ".") == columnsInEnglish[index][0:3]) and columnsInEnglish[index].count(".") <=1:
            print(rawColumns[index])
            print(f"Unique values are {data.iloc[:, index].nunique()}")
    except IndexError:
        pass
    print("")